<header>
    <img src="/assets/images/misc/Logo.png" class="rounded bigIcon">
    <h1 class="font-title mg-none mg-r15 navigationLink" (click)="navigateTo('/home')">GameDB</h1>
    <h1 class="font-navigation mg-none mg-r15 navigationLink" (click)="navigateTo('/game-info')">Games</h1>
    <h1 class="font-navigation mg-none mg-r15 navigationLink" (click)="navigateTo('/developer-info')">Developers</h1>
    <h1 class="font-navigation mg-none mg-r15 navigationLink" (click)="navigateTo('/genre-info')">Genres</h1>
</header>

