.tableStyle {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    border: 1px solid #ddd;
}

.headerRow {
    background-color: green;
}

.headerStyle {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

.rowStyle:nth-child(even) {
    background-color: #f9f9f9;
}

.rowStyle:hover {
    background-color: #f1f1f1;
}

.cellStyle {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

.actionsCell {
    text-align: right;
}

.buttonContainer {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.buttonStyle {
    padding: 6px 12px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.buttonStyle:hover {
    background-color: #0056b3;
}

#buttonUpdate {
    background-color: #2efc13;
}

#buttonUpdate:hover {
    background-color: #26b613;
}

#buttonDelete{
    background-color: #f51313;
}

#buttonDelete:hover{
    background-color: #b61919;
}