#searchBarBody{
    width:500px;
    height: 60px;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 25px;
    background-color: var(--backgroundBrighter);
    align-items: center;
}

#searchInput {
    margin-left: 10px;
    outline:0px;
    width: 100%;
    border: 0px;
    border-radius: 25px;
    font-size: larger;
    background-color: var(--backgroundBrighter);
}

#searchIcon {
    margin-right: 5px;
}